{% extends 'base.html' %}

{% block title %}{{profile.username}} account{% endblock title %}

{% block content %}
<div>
    <h2>{{ profile.username }}</h2>
    <h3>@{{ profile.get_slug }}</h3>
    <p>Rating: {{ profile.rating }}<p>
    {% if profile.bio %}
    <p> {{ profile.bio }}</p>
    {% endif %}
    {% if  user.id == profile.id %}
    <p><a href={% url 'accounts:profile-edit' %}>Edit</a></p>
    <p><a href={% url 'accounts:post-create' %}>Create post<a></p>
    {% endif %}
    {% for post in posts %}
        <a href={% url 'accounts:profile-detail' post.id %}>{{ post.text }}</a>
        <ul>
        {% for comment in post.get_comments %}
            <li>
                <h4>{{comment.owner.username}}</h4>
                <p>{{comment.text}}</p>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</div>

{% endblock content %}